<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>test</h2>
{{ test }}
</body>
</html>
for v in [post.ease, post.aplus, post.fulfil, post.test,
                          post.exam, post.cheat, post.attend, post.presen, post.assig]:
post.ease = "None"
               post.ease = "None"
                post.aplus = "None"
                post.fulfil = "None"
                post.test = "None"
                post.exam = "None"
                post.cheat = "None"
                post.attend = "None"
                post.presen = "None"
                post.assig = "None"