<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h2>Control</h2>
<h2><a href="{% url 'sf_logout' %}">logout</a></h2>
<h2><a href="{% url 'sf_maintenace' key=key %}">maintenance</a></h2>
<h2><a href="{% url 'sf_list' key=key facul="sk" %}">SK</a></h2>
<h2><a href="{% url 'sf_list' key=key facul="sy" %}">SY</a></h2>
<h2><a href="{% url 'sf_list' key=key facul="ho" %}">HO</a></h2>
<h2><a href="{% url 'sf_list' key=key facul="sg" %}">SG</a></h2>
<h2><a href="{% url 'sf_list' key=key facul="ky" %}">KY</a></h2>
<h2><a href="{% url 'sf_list' key=key facul="ko" %}">KO</a></h2>
<h2><a href="{% url 'sf_list' key=key facul="bu" %}">BU</a></h2>
<h2><a href="{% url 'sf_list' key=key facul="bk" %}">BK</a></h2>
<h2><a href="{% url 'sf_list' key=key facul="ki" %}">KI</a></h2>
<h2><a href="{% url 'sf_list' key=key facul="so" %}">SO</a></h2>
<h2><a href="{% url 'sf_list' key=key facul="se" %}">SE</a></h2>
<h2><a href="{% url 'sf_list' key=key facul="sp" %}">SP</a></h2>
<h2><a href="{% url 'sf_list' key=key facul="jk" %}">JK</a></h2>
<h2><a href="{% url 'sf_list' key=key facul="ge" %}">GE</a></h2>
</body>
</html>